<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <main>
    <h1>404</h1>
    <p>Sorry, that page could not be found.</p>
    <a href="/">Return to Home</a>
  </main>
</body>
</html>
